<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">&copy; 2021 BAE -</span>
    <a href="https://github.com/alpinejs/alpine/" target="_blank">Alpine.js</a>
    <a href="https://getbootstrap.com" target="_blank">Bootstrap</a>
  </div>
</footer>